<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>1375</integer>
  <key>capHeight</key>
  <integer>1125</integer>
  <key>copyright</key>
  <string/>
  <key>descender</key>
  <integer>-625</integer>
  <key>familyName</key>
  <string>ZDR16</string>
  <key>guidelines</key>
  <array/>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>note</key>
  <string/>
  <key>openTypeHeadCreated</key>
  <string>2022/04/03 00:15:00</string>
  <key>openTypeNameDesigner</key>
  <string>raffitz</string>
  <key>openTypeNameDesignerURL</key>
  <string>https://atreides.caladan.space</string>
  <key>openTypeNameLicense</key>
  <string/>
  <key>openTypeNameLicenseURL</key>
  <string/>
  <key>openTypeNameManufacturer</key>
  <string/>
  <key>openTypeNameManufacturerURL</key>
  <string/>
  <key>postscriptBlueValues</key>
  <array/>
  <key>postscriptFamilyBlues</key>
  <array/>
  <key>postscriptFamilyOtherBlues</key>
  <array/>
  <key>postscriptOtherBlues</key>
  <array/>
  <key>postscriptStemSnapH</key>
  <array/>
  <key>postscriptStemSnapV</key>
  <array/>
  <key>styleName</key>
  <string>Regular</string>
  <key>trademark</key>
  <string/>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>0</integer>
  <key>versionMinor</key>
  <integer>1</integer>
  <key>xHeight</key>
  <integer>1125</integer>
</dict>
</plist>
